.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}

.titlebar {
 border-radius: 0;
}

.window-frame.csd.popup {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

.header-bar {
  background-image: none;
  background-color: #ededed;
  box-shadow: none;
}

GtkLabel.title {
    opacity: 0;
}

@define-color theme_tooltip_bg_color #ffffff;
@define-color theme_tooltip_fg_color #212526;

/************
 * Tooltips *
 ************/
.tooltip {
    padding: 4px;
    border-style: none;
    border-radius: 0px;

    background-color: alpha(@theme_tooltip_bg_color, 0.90);
    color: @theme_tooltip_fg_color;

    text-shadow: 1px 1px black;
}

.tooltip * {
    background-color: transparent;
}
